@using MudBlazor
@using ProjetoLead.Objetos
@page "/"
@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@inject HttpClient HttpClient


<PageTitle>Home</PageTitle>

<h1>Index!</h1>

<table class="table">
	<thead>
		<tr>
			@foreach (var h in headings)
			{
				<th>@h</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (GetAllLeadsDTO leads in LeadList)
		{
			<tr>
				<td>@leads.cnpj</td>
				<td>@leads.razao_social</td>
				<td>@leads.cep</td>
				<td>@leads.estado</td>
			</tr>
		}
	</tbody>
</table>
<MudButton Variant="Variant.Filled" @onclick="irParaCriar">Adicionar Lead</MudButton>
@code{
	List<GetAllLeadsDTO> LeadList = [];
	string[] headings = { "CNPJ", "Razão Social", "CEP", "Estado" };
	protected override async Task OnInitializedAsync()
	{
		LeadList = await HttpClient.GetFromJsonAsync<List<GetAllLeadsDTO>>("api/Lead");
	}

	void irParaCriar()
	{
		navigationManager.NavigateTo("/criar", false);
	}
}